
LazyRenamer/.vs/LazyRenamer/v15/Server/sqlite3/db.lock
LazyRenamer/.vs/LazyRenamer/v15/Server/sqlite3/storage.ide
LazyRenamer/.vs/LazyRenamer/v15/Server/sqlite3/storage.ide-shm
LazyRenamer/.vs/LazyRenamer/v15/Server/sqlite3/storage.ide-wal
LazyRenamer/Backup/Form1.Designer.vb
LazyRenamer/Backup/Form1.resx
LazyRenamer/Backup/Form1.vb
LazyRenamer/Backup/LazyRenamer.ico
LazyRenamer/Backup/LazyRenamer.sln
LazyRenamer/Backup/LazyRenamer.vbproj
LazyRenamer/Backup/My Project/Application.Designer.vb
LazyRenamer/Backup/My Project/Application.myapp
LazyRenamer/Backup/My Project/AssemblyInfo.vb
LazyRenamer/Backup/My Project/Resources.Designer.vb
LazyRenamer/Backup/My Project/Resources.resx
LazyRenamer/Backup/My Project/Settings.Designer.vb
LazyRenamer/Backup/My Project/Settings.settings
LazyRenamer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LazyRenamer/obj/Debug/LazyRenamer.vbproj.CoreCompileInputs.cache
LazyRenamer/obj/Debug/LazyRenamer.vbprojAssemblyReference.cache
LazyRenamer/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
LazyRenamer/UpgradeLog.htm
LazyRenamer/obj/Debug/LazyRenamer.exe
LazyRenamer/obj/Debug/LazyRenamer.Form1.resources
LazyRenamer/obj/Debug/LazyRenamer.pdb
LazyRenamer/obj/Debug/LazyRenamer.Resources.resources
LazyRenamer/obj/Debug/LazyRenamer.vbproj.FileListAbsolute.txt
LazyRenamer/obj/Debug/LazyRenamer.vbproj.GenerateResource.cache
LazyRenamer/obj/Debug/LazyRenamer.xml
LazyRenamer/obj/Release/DesignTimeResolveAssemblyReferences.cache
LazyRenamer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LazyRenamer/obj/Release/LazyRenamer.exe
LazyRenamer/obj/Release/LazyRenamer.Form1.resources
LazyRenamer/obj/Release/LazyRenamer.pdb
LazyRenamer/obj/Release/LazyRenamer.Resources.resources
LazyRenamer/obj/Release/LazyRenamer.vbproj.CoreCompileInputs.cache
LazyRenamer/obj/Release/LazyRenamer.vbproj.FileListAbsolute.txt
LazyRenamer/obj/Release/LazyRenamer.vbproj.GenerateResource.cache
LazyRenamer/obj/Release/LazyRenamer.vbprojAssemblyReference.cache
LazyRenamer/obj/Release/LazyRenamer.xml
LazyRenamer/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
LazyRenamer/bin/Release/LazyRenamer.xml
LazyRenamer/bin/Release/LazyRenamer.pdb
LazyRenamer/bin/Release/LazyRenamer.exe
LazyRenamer/bin/Debug/LazyRenamer.xml
LazyRenamer/bin/Debug/LazyRenamer.pdb
LazyRenamer/bin/Debug/LazyRenamer.exe
LazyRenamer/.vs/LazyRenamer/v15/.suo
